<nav class="navbar navbar-dark bg-dark">
	<% if(page === "home"){ %>
	<a class="navbar-brand mx-3" href="/user/register">Register</a>
	<% } else if(page === "register"){ %>
	<a class="navbar-brand mx-3" href="/">login</a>
	<% } else if(page === "books" || page === "add-book"){ %>
	<div class="container-fluid row">
		<div class="container d-flex m-0 col-9">
			<a class="navbar-brand" href="/books">Books</a>

			<a class="navbar-brand" href="/books/add-book">Add Book</a>

			<a class="navbar-brand" href="/user/logout">logout</a>
		</div>
		<% } %> <% if(page === "books"){ %>
		<form class="d-flex col" action="/books/find" method="GET">
			<input
				class="form-control me-2"
				type="search"
				placeholder="Search"
				aria-label="Search"
				name="search"
			/>
			<button class="btn btn-outline-success" type="submit">
				Search
			</button>
		</form>
		<% } %>
	</div>
</nav>
