<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/header.ejs', {page: ""}) %>
		<div class="container">
			<h2 class="m-auto error">404 Cannot find this page<%= url %></h2>
		</div>
	</body>
</html>
